{# FMG SDWAN Overlay Single Hub #}
{# Meta Variables:
   - Required:
      - loop_back_ip
      - overlay_network_ip
      - as_id
      - hub1_host_name
      - hub2_host_name
      - branch_grp_name
      - hub1_underlay_link1_name
      - hub1_underlay_link2_name
      - hub2_underlay_link1_name
      - hub2_underlay_link2_name
      - hub1_underlay_link1_ip
      - hub1_underlay_link2_ip
      - hub2_underlay_link1_ip
      - hub2_underlay_link2_ip  
      - branch_underlay_link1_name
      - branch_underlay_link2_name
      - policy_hub_src_interface
      - policy_hub_dst_interface
      - policy_branch_src_interface
      - policy_branch_dst_interface
 #}

{# create sdwan template used in 'sdwan overlay -> sdwan_template' #}
config adom/wanprof/sdwan1
config system sdwan
    config health-check
        edit "Default_AWS"
            set server aws.amazon.com
            set protocol http
            set interval 1000
            set probe-timeout 1000
            set recoverytime 10
            config sla
                edit 1
                    set latency-threshold 250
                    set jitter-threshold 50
                    set packetloss-threshold 5
                next
            end
        next
        edit "Default_DNS"
            set system-dns enable
            set interval 1000
            set probe-timeout 1000
            set recoverytime 10
            config sla
                edit 1
                    set latency-threshold 250
                    set jitter-threshold 50
                    set packetloss-threshold 5
                next
            end
        next
        edit "Default_FortiGuard"
            set server fortiguard.com
            set protocol http
            set interval 1000
            set probe-timeout 1000
            set recoverytime 10
            config sla
                edit 1
                    set latency-threshold 250
                    set jitter-threshold 50
                    set packetloss-threshold 5
                next
            end
        next
        edit "Default_Gmail"
            set server gmail.com
            set interval 1000
            set probe-timeout 1000
            set recoverytime 10
            config sla
                edit 1
                    set latency-threshold 250
                    set jitter-threshold 50
                    set packetloss-threshold 2
                next
            end
        next
        edit "Default_Google Search"
            set server "www.google.com"
            set protocol http
            set interval 1000
            set probe-timeout 1000
            set recoverytime 10
            config sla
                edit 1
                    set latency-threshold 250
                    set jitter-threshold 50
                    set packetloss-threshold 5
                next
            end
        next
        edit "Default_Office_365"
            set server www.office.com
            set protocol http
            set interval 1000
            set probe-timeout 1000
            set recoverytime 10
            config sla
                edit 1
                    set latency-threshold 250
                    set jitter-threshold 50
                    set packetloss-threshold 5
                next
            end
        next
    end
end
end
 
{# create static route template used in 'sdwan overlay -> router_template' #}
config adom/template/_router_static/branches
end

config adom/pkg/ppkg_hub
end

config adom/template/_sdwan_overlay/sd_single_hub_ps    
    config sdwan overlay
        set hub-number 1
        set loopback-ip {{loop_back_ip}} 255.255.0.0  {# 172.16.0.0 255.255.0.0 #}
        set overlay-network {{overlay_network_ip}} 255.255.0.0 {# 10.10.0.0 255.255.0.0 #}
        set as {{as_id}} {# 65000 #}
        set advpn version2
        set sdwan_template "sdwan1"
        set sdwan_members enable
        set sdwan_health_check enable
        set normalized-interface enable
        set hub-package-path "ppkg_hub"
        set branch-package-path "ppkg_branch"    
        set auto-branch-id-assignment enable
        set authmethod psk
        set router_template "branches"
        set segmentation disable
        set bgp_on_loopback enable
        set dynamic_bgp enable
        set route_reflection disable
        config nodes
            edit 1
                set _scope "{{hub1_host_name}}"-"root"
                set role hub
                set cost 0
                set advertisement connected
                config underlay
                    edit 1
                        set interface "{{hub1_underlay_link1_name}}" {# port1 #}
                        set private-link disable
                        set override-ip enable
                        set ip {{hub1_underlay_link1_ip}} {# 10.1.1.1 #}
                        set cost 0
                        set transport-group 0
                    next
                    edit 2
                        set interface "{{hub1_underlay_link2_name}}" {# port2 #}
                        set private-link disable
                        set override-ip enable
                        set ip {{hub1_underlay_link2_ip}} {# 10.2.1.1 #} 
                        set cost 0
                        set transport-group 0
                    next
                end 
            next
            edit 2
                set _scope "{{branch_grp_name}}"
                set role spoke
                set hub-role standalone
                set cost 0
                set advertisement connected
                config underlay
                    edit 1
                        set interface "{{branch_underlay_link1_name}}" {# "port1" #}
                        set private-link disable
                        set override-ip disable
                        set cost 0
                        set transport-group 0  
                    next
                    edit 2
                        set interface "{{branch_underlay_link2_name}}" {# "port2" #}
                        set private-link disable
                        set override-ip disable
                        set cost 0
                        set transport-group 0   
                    next
                end
                config neighbor
                    edit 1
                        set remote-as 0
                        set apply-to-all disable   
                    next
                    edit 2
                        set remote-as 0
                        set apply-to-all disable
                    next
                end
            next
        end
    end
end
