{# sample pre-run scripts, it will set up hostname, loopback interfaces and underlay interfaces. 
  - Required:
    - hostname
    - lan_intf_name
    - lan_intf_ip
    - lan_intf_network_mask
    - isp1_intf_name
    - isp2_intf_name
    - mgmt_dst_fmg_ip_networkmask
    - mgmt_dst_gateway_ip
    - mgmt_intf_name
#}

config system global
    set hostname "{{ hostname }}"
end

config system interface
    edit "{{lan_intf_name}}"
        set ip "{{ lan_intf_ip }} {{ lan_intf_network_mask }}"
    next
    edit "{{isp1_intf_name}}"
        set mode dhcp
    next
    edit "{{isp2_intf_name}}"
        set mode dhcp
    next
end

config router static
    edit 1
        set dst "{{mgmt_dst_fmg_ip_networkmask}}"
        set gateway "{{mgmt_dst_gateway_ip}}"
        set device "{{mgmt_intf_name}}"
    next
    edit 2
        set dst 10.254.15.242 255.255.255.255
        set gateway 10.3.134.1
        set device "{{mgmt_intf_name}}"
    next
end
