{# sample pre-run scripts, it will set up hostname, loopback interfaces and underlay interfaces. 
  - Required:
    - hostname
    - lan_intf_name
    - lan_ip
    - isp1_intf_name
    - isp1_ip
    - isp2_intf_name
    - isp2_ip
#}

config system global
    set hostname "{{ hostname }}"
end

config system interface
    edit "{{lan_intf_name}}"
        set ip "{{ lan_ip }}/24"
    next
        edit "{{isp1_intf_name}}"
        set ip "{{ isp1_ip }}/24"
    next
    edit "{{isp2_intf_name}}"
        set ip "{{ isp2_ip }}/24"
    next
end
