{#
    Those CLI includes all the security hardening collected from Advanced Service team, i.e FortiConan tool. 
    And the PS team's checking rules, which is manual. 
#}

{# enforce admin possword policy #}
config system password-policy
    set status enable
    set min-lower-case-letter 1
    set min-upper-case-letter 1
    set min-non-alphanumeric 1
    set min-number 1
    set reuse-password disable
end
{# Administrator disclaimers #}
config system global
    set pre-login-banner enable
    set post-login-banner enable
end

{# Default admin account #}
config system admin
    rename admin to othername
end

{# Default management ports #}
config system global
    set admin-sport 7734
    set admin-ssh-port 2345
end

{# Failed login attempts #}
config system global
    set admin-lockout-duration 1800
end

{# IPsec ciphers #}
{# for all the phase1-interface  and phase2-interface #} 
config vpn ipsec phase1-interface
    edit "HUB1-VPN1"
        unselect dhgrp 5
    next
end
config vpn ipsec phase1-interface
    edit "HUB1-VPN2"
        unselect dhgrp 5
    next
end
config vpn ipsec phase1-interface
    edit "HUB2-VPN1"
        unselect dhgrp 5
    next
end
config vpn ipsec phase1-interface
    edit "HUB2-VPN2"
        unselect dhgrp 5
    next
end
config vpn ipsec phase2-interface
    edit "HUB1-VPN1"
        unselect dhgrp 5
    next
end
config vpn ipsec phase2-interface
    edit "HUB1-VPN2"
        unselect dhgrp 5
    next
end
config vpn ipsec phase2-interface
    edit "HUB2-VPN1"
        unselect dhgrp 5
    next
end
config vpn ipsec phase2-interface
    edit "HUB2-VPN2"
        unselect dhgrp 5
    next
end

{# Private encryption key #}
config system global
    set private-data-encryption enable
end

{# SSH grace time #}
config system global
    set admin-ssh-grace-time 30
end

{# Strong cryptography #}
config system global
    set ssl-static-key-ciphers disable
    set dh-params 8192
end

{# Trusted hosts #}
{#
config system admin
    edit "admin"
        set trusthost1 127.0.0.1/32
    next
end
#}

{# Two-factor authentication #}
config system admin
    edit "admin"
        set two-factor enable
    next
end

{# USB auto configuration #}
config system auto-install
    set auto-install-config disable
    set auto-install-image disable
end

//////////////////////////////////////////
For all unused interface, set status=down. 
{# Unused interfaces #}
config system interface
    edit "ha"        
        set status down
    next
end

{#  #}

{#  #}
