# Adopted PS team's security hardening, spec 40572 #
# 
#    CIS benchmark, CIS references 2.1.3, ensure timezone is properly configured.
#    Implemented in the pre-run script by using the collected timezone per device.
#

# Adopted AS/FortiConan team's security hardening, spec 39652
# Recommendation by PS: Ensure auto firmware upgrade is disabled
config system fortiguard
    set auto-firmware-upgrade disable
end
 
# Recommendation by PS: disable FortiExplorer
#config system console
    #set FortiExplorer disable
#end
 
# Enforce admin password policy
#config system password-policy
    #set status enable
    #set min-lower-case-letter 1
    #set min-upper-case-letter 1
    #set min-non-alphanumeric 1
    #set min-number 1
    #set reuse-password disable
#end
 
# Administrator disclaimers
config system global
    set pre-login-banner enable
    set post-login-banner enable
end
 
# Failed login attempts, change it to the recommended admin lockout duration
config system global
    set admin-lockout-duration 1800
end
 
# Severity High: Private encryption key
config system global
    set private-data-encryption enable
end
 
# SSH grace time
config system global
    set admin-ssh-grace-time 30
end
 
# Strong cryptography
config system global
    set ssl-static-key-ciphers disable
    set dh-params 8192
end
 
# USB auto configuration
config system auto-install
    set auto-install-config disable
    set auto-install-image disable
end

