{# FortiAP Deply Jinjia Templates #}
{# Meta Variables:
   - Required:
      - tobedetermined
      - tobedetermined
      - WC_FGT_NAME
      - WC_ADOM_NAME
      - AP_SN
      - AP_NAME
      - AP_TYPE
 #}

config wireless-controller vap
    edit "Wifi-Staff"
        set ssid "Doll-WiFi"
        set security wpa2-only-enterprise
        set pmf optional
        set fast-bss-transition enable
        set auth usergroup
        set usergroup "Guest-group"
        set local-bridging enable
        set dynamic-vlan enable
        set alias "doll-wifi-vap-alias"
        set multicast-enhance enable
        set sticky-client-remove enable
        set sticky-client-threshold-5g "-85"
        set sticky-client-threshold-2g "-85"
        set sticky-client-threshold-6g "-85"
        set schedule "always"
    next
    edit "Wifi-Guest"
        set ssid "Wifi-Guest"
        set passphrase "12345678"
        set local-bridging enable
    next
end

config wireless-controller wtp-profile
    edit "FAP231G-default"
        config platform
            set type 231G
        end
        set handoff-sta-thresh 55
        config radio-1
            set band 802.11g 802.11n-2G 802.11ax-2G
        end
        config radio-2
            set band 802.11a 802.11n-5G 802.11ac-5G 802.11ax-5G
        end
        config radio-3
            set band 802.11ax-6G
        end
    next
    edit "FAP231G-PROD_v2"
        config platform
            set type 231G
        end
        set handoff-sta-thresh 55
        set ap-country CA
        set frequency-handoff enable
        config radio-1
            set band 802.11b 802.11g 802.11n-2G 802.11ax-2G
            set auto-power-level enable
            set auto-power-high 14
            set auto-power-low 5
            set darrp enable
            set arrp-profile "arrp-default"
            set vap-all manual
            set vaps "Doll-WiFi" "1485P393"
            set channel "1" "6" "11"
        end
        config radio-2
            set band 802.11n-5G 802.11ac-5G 802.11ax-5G
            set short-guard-interval enable
            set channel-bonding 40MHz
            set auto-power-level enable
            set auto-power-high 20
            set auto-power-low 14
            set darrp enable
            set arrp-profile "arrp-default"
            set vap-all manual
            set vaps "Doll-WiFi" "1485P393"
            set vap1 "Doll-WiFi"
            set vap2 "1485P393"
            set channel "36" "44" "52" "60" "100" "108" "132" "140" "149" "157"
        end
        config radio-3
            set mode monitor
            set wids-profile "default-wids-apscan-enabled"
        end
    next
end



{# config adom/wtp/"fgtvm-02"-"root" #}
config adom/wtp/"{{ WC_FGT_NAME }}"-"{{ WC_ADOM_NAME }}"
    config wireless-controller wtp
        edit "{{AP_SN}}"  {# FP431FTF23099HHQ #}
            set admin enable
            set name "{{AP_NAME}}"  {# 0179APFR1 #}
            set wtp-profile "FAP231G-PROD_v2"
            set wtp-mode remote
            config radio-1
            end
            config radio-2
            end
        next
    end
end 

