config system interface
    edit "<WC_FGT_PORT_NAME>"
        set ip "<WC_FGT_PORT_IP>"
        set allowaccess ping fabric
        set ip-managed-by-fortiipam disable
    next
end

config system dhcp server
    edit 1
        set default-gateway 10.10.9.1
        set netmask 255.255.255.0
        set interface "port15"
        config ip-range
            edit 1
                set start-ip 10.10.9.2
                set end-ip 10.10.9.254
            next
        end
    next
end
