config wireless-controller vap
    edit "ssid_template_with_auth_wpa2_enterprice"
        set ssid "ssid_template_with_auth_wpa2_enterprice"
        set security wpa2-only-enterprise
        set pmf optional
        set fast-bss-transition enable
        set auth usergroup
        set usergroup "Guest-group"
        set local-bridging enable
        set multicast-enhance enable
        set sticky-client-remove enable
        set sticky-client-threshold-5g "-85"
        set sticky-client-threshold-2g "-85"
        set sticky-client-threshold-6g "-85"
        set schedule "always"
    next
    edit "ssid_template_with_auth_wpa2_personal"
        set ssid "ssid_template_with_auth_wpa2_personal"
        set passphrase "12345678"
        set local-bridging enable
    next
end
