

config system dhcp server
    edit 999
        set dns-service default
        set ntp-service local
        set default-gateway 10.180.35.177
        set netmask 255.255.255.240
        set interface "fortilink"
        config ip-range
            edit 1
                set start-ip 10.180.35.178
                set end-ip 10.180.35.190
            next
        end
        set vci-match enable
        set vci-string "FortiSwitch" "FortiExtender"
    next
    edit 6
        set dns-service default
        set default-gateway 10.180.35.1
        set netmask 255.255.255.240
        set interface "WIFI_MGMT"
        config ip-range
            edit 1
                set start-ip 10.180.35.22
                set end-ip 10.180.35.30
            next
        end
    next
    edit 7
        set lease-time 14400
        set default-gateway 172.21.64.1
        set netmask 255.255.240.0
        set interface "GUEST_3966"
        config ip-range
            edit 1
                set start-ip 172.21.64.11
                set end-ip 172.21.79.254
            next
        end
        set dns-server1 172.64.36.1
        set dns-server2 172.64.36.2
    next
    edit 12
        set lease-time 14400
        set wifi-ac-service local
        set default-gateway 172.17.192.1
        set netmask 255.255.240.0
        set interface "WIFI_ACCESS"
        config ip-range
            edit 1
                set start-ip 172.17.192.11
                set end-ip 172.17.207.254
            next
        end
        set dns-server1 172.64.36.1
        set dns-server2 172.64.36.2
    next
end

              
config system interface
    edit "fortilink"
        set vdom "root"
        set fortilink enable
        set ip 10.180.35.177 255.255.255.240
        set allowaccess ping fabric
        set type aggregate
        set member "x1" "x2"
        set lldp-reception enable
        set lldp-transmission enable
        set monitor-bandwidth enable
        set snmp-index 36
        set auto-auth-extension-device enable
        set fortilink-split-interface disable
        set switch-controller-nac "fortilink"
        set switch-controller-dynamic "fortilink"
        set swc-first-create 255
        set lacp-mode static
    next

    edit "WIFI_MGMT"
        set vdom "root"
        set ip 10.180.35.1 255.255.255.224
        set allowaccess ping fabric
        set netflow-sampler both
        set device-identification enable
        set monitor-bandwidth enable
        set role lan
        set auto-auth-extension-device enable
        set interface "fortilink"
        set vlanid 3010
    next
    
    edit "WIFI_Staff"
        set vdom "root"
        set ip 172.17.192.1 255.255.240.0
        set allowaccess ping
        set vlanforward enable
        set netflow-sampler both
        set device-identification enable
        set monitor-bandwidth enable
        set role lan
        set interface "fortilink"
        set vlanid 2100
    next

    edit "WIFI_Guest"
        set vdom "root"
        set ip 172.21.64.1 255.255.240.0
        set allowaccess ping
        set vlanforward enable
        set netflow-sampler both
        set alias "GUEST_3966"
        set device-identification enable
        set role lan
        set interface "fortilink"
        set vlanid 3966
    next


config switch-controller managed-switch
    edit "S448EFTF23003446"
        set name "JAKSW8011"
        set description "FS-448E-FPOE"
        set fsw-wan1-peer "fortilink"
        set fsw-wan1-admin enable
        set poe-detection-type 2
        set version 1
        set max-allowed-trunk-members 8
        set pre-provisioned 1
        set dynamic-capability 0x00000000000000000410bf7d7dddfdf7
        config ports
            edit "port2"
                set port-owner "JAKWP8001"
                set trunk-member 1
                set speed-mask 207
                set poe-capable 1
                set export-to "root"
            next
            edit "JAKWP8001"
                set vlan "WIFI_MGMT"
                set allowed-vlans "WIFI_MGMT" "WIFI_ACCESS" "GUEST_3966" "QUARANTINE_3967" "INNOVATION_3901" "IOT_INNO_3960" "Test_VLAN"
                set type trunk
                set mac-addr 84:39:8f:91:76:ef
                set description "AP_JAKWP8001"
                set mode lacp-active
                set mclag enable
                set members "port2"
            next
        end
    next
end

config wireless-controller wtp
    edit "FP431FTF23036771"
        set uuid a2032bb4-5968-51ee-d030-2beb6806da88
        set admin enable
        set name "JAKWP8001"  //vlan
        set region "Floor Map"
        set region-x "0.1016563012870"
        set region-y "0.4319852941176"
        set wtp-profile "431F-MacOS"
        set wtp-mode remote
        set apcfg-profile "AP-AGG"
        set bonjour-profile "OFFICE_BONJOUR_PROFILE_JAKFW8100"
        config radio-1
        end
        config radio-2
        end
    next
end

config wireless-controller vap
    edit "WIFI-ACCESS"
        set ssid "wifi-access"
        set security wpa2-only-enterprise
        set pmf optional
        set auth radius
        set radius-server "RBAC"
        set local-bridging enable
        set schedule "always"
        set vlanid 2100
        set dynamic-vlan enable
        set alias "b"
        set dhcp-address-enforcement enable
        config vlan-name
            edit "quarantine"
                set vlan-id 3967
            next
        end
        set qos-profile "WMM_CORPORATE_WIRELESS"
        set rates-11a 12 12-basic 18 24 24-basic 36 48 54
        set rates-11bg 12 12-basic 18 24 24-basic 36 48 54
    next

    edit "WIFI-Guest"
        set ssid "wifi-guest"
        set security open
        set local-bridging enable
        set schedule "always"
        set vlanid 3966
        set alias "b"
        set dhcp-address-enforcement enable
        set rates-11a 12 12-basic 18 24 24-basic 36 48 54
        set rates-11bg 12 12-basic 18 24 24-basic 36 48 54
    next
end
