config adom/wtp/"<WC_FGT_NAME>"-"<WC_FGT_VDOM_NAME>"
    config wireless-controller wtp
        edit "<AP_SN>"  {# FP431FTF23099HHQ #}
            set admin enable
            set name "<AP_NAME>"  {# 0179APFR1 #}
            set wtp-profile "<FAP_PROFILE>"   {# FAP431F-Profile #}
            set wtp-mode remote
            config radio-1
            end
            config radio-2
            end
        next
    end
end
