

{#
    AP_NAME: used in 
        1. wireless-controller wtp
        2. The FGT VLAN interface name for the corresponding VLAN
            IP address, IP mask
        3. DHCP for all the clients that connect to this SSID
            start IP and end IP 

#}

              
config system interface
    edit "fortilink"
        set vdom "root"
        set fortilink enable
        set ip 10.255.1.1 255.255.255.0
        set allowaccess ping fabric
        set type aggregate
        set member "x3" "x4"
        set lldp-reception enable
        set lldp-transmission enable
        set monitor-bandwidth enable
        set switch-controller-nac "fortilink"
        set switch-controller-dynamic "fortilink"
    next
    edit "fortilink"
        set vdom "root"
        set fortilink enable
        set ip 10.180.35.177 255.255.255.240
    next

    edit "WIFI_MGMT"
        set vdom "root"
        // set ip 10.180.35.1 255.255.255.224
        set ip 10.255.2.1 255.255.255.0
        set allowaccess ping fabric
        set netflow-sampler both
        set device-identification enable
        set monitor-bandwidth enable
        set role lan
        set auto-auth-extension-device enable
        set interface "fortilink"
        set vlanid 3010
    next
    
    edit "WIFI_Staff"
        set vdom "root"
        set ip 172.17.192.1 255.255.240.0
        set allowaccess ping
        set vlanforward enable
        set netflow-sampler both
        set device-identification enable
        set monitor-bandwidth enable
        set role lan
        set interface "fortilink"
        set vlanid 2100
    next

    edit "WIFI_Guest"
        set vdom "root"
        set ip 172.21.64.1 255.255.240.0
        set allowaccess ping
        set vlanforward enable
        set netflow-sampler both
        set alias "GUEST_3966"
        set device-identification enable
        set role lan
        set interface "fortilink"
        set vlanid 3966
    next
end

config system dhcp server
    edit 999
        set dns-service default
        set ntp-service local
        //set default-gateway 10.180.35.177
        //set netmask 255.255.255.240
        set default-gateway 10.255.1.1
        set netmask 255.255.255.0
        set interface "fortilink"
        config ip-range
            edit 1
                //set start-ip 10.180.35.178
                //set end-ip 10.180.35.190
                set start-ip 10.255.1.2
                set end-ip 10.180.35.254
            next
        end
        set vci-match enable
        set vci-string "FortiSwitch" "FortiExtender"
    next
    edit 6
        set dns-service default
        //set default-gateway 10.180.35.1
        //set netmask 255.255.255.240
        set default-gateway 10.255.2.1
        set netmask 255.255.255.0
        set interface "WIFI_MGMT"
        config ip-range
            edit 1
                //set start-ip 10.180.35.22
                //set end-ip 10.180.35.30
                set start-ip 10.255.2.2
                set end-ip 10.255.2.254
            next
        end
    next
    edit 7
        set lease-time 14400
        set default-gateway 172.21.64.1
        set netmask 255.255.240.0
        //set interface "GUEST_3966"
        set interface "WIFI_Staff"
        config ip-range
            edit 1
                set start-ip 172.21.64.11
                set end-ip 172.21.79.254
            next
        end
        //set dns-server1 172.64.36.1
        //set dns-server2 172.64.36.2
    next
    edit 12
        set lease-time 14400
        set wifi-ac-service local
        set default-gateway 172.17.192.1
        set netmask 255.255.240.0
        //set interface "WIFI_ACCESS"
        set interface "WIFI_Guest"
        config ip-range
            edit 1
                set start-ip 172.17.192.11
                set end-ip 172.17.207.254
            next
        end
        //set dns-server1 172.64.36.1
        //set dns-server2 172.64.36.2
    next
end

config switch-controller managed-switch
    edit "S448EFTF23018129"
        //set name "JAKSW8011"
        set name "FS8129-FAP"
        set description "FS-448E-FPOE"
        set fsw-wan1-peer "fortilink"
        set fsw-wan1-admin enable
        set poe-detection-type 2
        set version 1
        set max-allowed-trunk-members 8
        set pre-provisioned 1
        set dynamic-capability 0x00000000000000000410bf7d7dddfdf7
        config ports
            edit "port2"
                //set port-owner "JAKWP8001"
                //set port-owner "AP1"
                set trunk-member 1
                set speed-mask 207
                set poe-capable 1
                set export-to "root"
            next
            edit "JAKWP8001"
            //edit "AP1"
                set vlan "WIFI_MGMT"
                set allowed-vlans "WIFI_MGMT" "WIFI_Staff" "WIFI_Guest"
                set type trunk
                //set mac-addr 84:39:8f:91:76:ef
                set description "AP_JAKWP8001"
                set mode lacp-active
                set mclag enable
                set members "port2"
            next
            edit "port3"
                set port-owner "AP2"
                set trunk-member 1
                set speed-mask 207
                set poe-capable 1
                set export-to "root"
            next
            edit "AP2"
                set vlan "WIFI_MGMT"
                set allowed-vlans "WIFI_MGMT" "WIFI_Staff" "WIFI_Guest"
                set type trunk
                set description "AP_AP2"
                set mode lacp-active
                set mclag enable
                set members "port3"
            next
        end
    next
end

config wireless-controller wtp
    edit "FP431FTF23099HHQ"
        set admin enable
        //set name "JAKWP8001"  //vlan
        set name "AP1" 
        //set region "Floor Map"
        //set region-x "0.1016563012870"
        //set region-y "0.4319852941176"
        //set wtp-profile "431F-MacOS"
        set wtp-profile "FAP431F-Profile"
        set wtp-mode remote
        config radio-1
        end
        config radio-2
        end
    next
end

config wireless-controller vap
    edit "WIFI-ACCESS"
        set ssid "wifi-access"
        set security wpa2-only-enterprise
        set pmf optional
        set auth radius
        set radius-server "RBAC"
        set local-bridging enable
        set schedule "always"
        set vlanid 2100
        set dynamic-vlan enable
        set alias "b"
        set dhcp-address-enforcement enable
        config vlan-name
            edit "quarantine"
                set vlan-id 3967
            next
        end
        set qos-profile "WMM_CORPORATE_WIRELESS"
        set rates-11a 12 12-basic 18 24 24-basic 36 48 54
        set rates-11bg 12 12-basic 18 24 24-basic 36 48 54
    next

    edit "WIFI-Guest"
        set ssid "wifi-guest"
        set security open
        set local-bridging enable
        set schedule "always"
        set vlanid 3966
        set alias "b"
        set dhcp-address-enforcement enable
        set rates-11a 12 12-basic 18 24 24-basic 36 48 54
        set rates-11bg 12 12-basic 18 24 24-basic 36 48 54
    next
end
