config switch-controller managed-switch
    edit "FortiSwitch-448E-FPOE"
        set _platform "FortiSwitch-448E-FPOE"
        config ports
            edit "port1"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port10"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port11"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port12"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port13"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port14"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port15"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port16"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port17"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port18"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port19"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port2"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port20"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port21"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port22"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port23"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port24"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port25"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port26"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port27"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port28"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port29"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port3"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port30"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port31"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port32"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port33"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port34"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port35"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port36"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port37"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port38"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port39"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port4"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port40"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port41"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port42"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port43"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port44"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port45"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port46"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port47"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port48"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port49"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port5"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port50"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port51"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port52"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port6"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port7"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port8"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "port9"
                set vlan "default"
                set allowed-vlans "quarantine"
                set untagged-vlans "quarantine"
            next
            edit "AP1"
                set vlan "WIFI_MGMT"
                set allowed-vlans "WIFI_MGMT" "WIFI_Staff" "WIFI_Guest"
                set type trunk
                set description "AP_JAKWP8001"
                set mode lacp-active
                set mclag enable
                set members "port2"
            next
            edit "AP2"
                set vlan "WIFI_MGMT"
                set allowed-vlans "WIFI_MGMT" "WIFI_Staff" "WIFI_Guest"
                set type trunk
                set description "AP_JAKWP8002"
                set mode lacp-active
                set mclag enable
                set members "port3"
            next
        end
    next
end
