config fsp vlan
    edit "<SSID_Name>_<VLAN_ID>"
        set vlanid <VLAN_ID>
        set _dhcp-status enable
        config interface
            set ip "<VLAN_Interface_IP>" "<VLAN_Interface_Network_Mask>"
            set allowaccess ping fabric
            set device-identification enable
            set role lan
            config ipv6
            end
        end
        config dhcp-server
            set default-gateway "<VLAN_Interface_IP>"
            set netmask "<VLAN_Interface_Network_Mask>"
            config ip-range
                edit 1
                    set start-ip "<VLAN_Interface_DHCP_IP_START>"
                    set end-ip "<VLAN_Interface_DHCP_IP_END>"
                next
            end
        end
    next
end
