config fsp vlan
    edit "WIFI_MGMT"
        set vlanid 3010
        set _dhcp-status enable
        config interface
            set ip 10.255.2.1 255.255.255.0
            set allowaccess ping fabric
            set device-identification enable
            set role lan
            set ip-managed-by-fortiipam disable
            config ipv6
            end
        end
        config dhcp-server
            set default-gateway 10.255.2.1
            set netmask 255.255.255.0
            set dhcp-settings-from-fortiipam enable
            config ip-range
                edit 1
                    set start-ip 10.255.2.2
                    set end-ip 10.255.2.254
                next
            end
        end
    next
end
