            edit "<ap_name>"
                set vlan "WIFI_MGMT"
                set allowed-vlans "WIFI_MGMT" <allowed_vlans>
                set type trunk
                set description "AP_<ap_name>"
                set mode lacp-active
                set mclag enable
                set members "<fsw_port_name>"
            next
