# CLI to config log settings on FortiManager
# Please just FortiManager API to configure it on FortiManager

config log fortianalyzer setting
    set status enable
    set server <FAZ_IP>
    set reliable enable
end
