# CLI to config log settings on FortiManager
# Please just FortiManager API to configure it on FortiManager

config system locallog fortianalyzer setting
    set status realtime
    set server "<FAZ_IP>"
end

# Allow FMG to manage FGT-VM or FAZ-VM
config system global
    set fgfm-allow-vm enable
end
