{#
 # Initial verison of FMG SDWAN Overlay Jinjia2 scripts for Dual Hub cae
 # {{ loop_back_ip }} i.e.172.18.0.0
 # {{ overlay_network_ip }} i.e. 10.10.0.0
 # {{ hub1_host_name }}
 # {{ hub2_host_name }}
 # {{ branch_grp }}
 #}

{# create sdwan template used in 'sdwan overlay -> sdwan_template' #}
config adom/wanprof/sdwan1
end

{# create static route template used in 'sdwan overlay -> router_template' #}
config adom/template/_router_static/branches
end

{# still do not support config hub-package and branch-package when normalized-interface enabled #}

config adom/template/_sdwan_overlay/sd1
config sdwan overlay
  set topology dual-active-hub
  set hub-number 2
  set loopback-ip {{ loop_back_ip }} 255.255.0.0 {# 172.18.0.0 #}
  set overlay-network {{ overlay_network_ip }} 255.255.0.0 {# 10.10.0.0 #}
  set advpn version2
  set sdwan_template "sdwan1"
  set sdwan_members enable
  set sdwan_health_check enable
  set normalized-interface enable
  set auto-branch-id-assignment enable
  set authmethod psk
  set router_template "branches"
  set segmentation disable
  set bgp_on_loopback enable
  set dynamic_bgp disable
  set route_reflection disable
  config nodes
    edit 1
      set _scope {{ hub1_host_name }}-"root" {# "fgtvm_01"-"root" #}
      set role hub
      set hub-role primary
      set cost 0
      set advertisement connected
      config underlay
        edit 1
          set interface "port1"
          set private-link disable
          set override-ip disable
          set cost 0
          set transport-group 0
        next
      end
    next
    edit 2
      set _scope {{ hub2_host_name }}-"root" {# "fgtvm_02"-"root" #}
      set role hub
      set hub-role primary
      set cost 0
      set advertisement connected
      config underlay
        edit 1
          set interface "port1"
          set private-link disable
          set override-ip disable
          set cost 0
          set transport-group 0
        next
      end
    next
    edit 3
      set _scope {{ branch_grp }} {# "devgrp_01" #}
      set role spoke
      set hub-role standalone
      set cost 0
      set advertisement connected
      config underlay
        edit 1
          set interface "port1"
          set private-link disable
          set override-ip disable
          set cost 0
          set transport-group 0
        next
        edit 2
          set interface "port2"
          set private-link disable
          set override-ip disable
          set cost 0
          set transport-group 0
        next
      end
    next
  end
end
end
